#
# /etc/ssh/sshd_config
#

Port 22
ListenAddress 		0.0.0.0
LoginGraceTime 		180
X11Forwarding 		yes
Ciphers aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com
StrictModes 		yes
SyslogFacility 		DAEMON
PrintMotd 		no
IgnoreRhosts 		no
#deprecated option 
#RhostsAuthentication 	no
RhostsRSAAuthentication no
RSAAuthentication 	no
PasswordAuthentication no
PermitEmptyPasswords 	no
PermitRootLogin no
PubkeyAuthentication yes
